        <div class="footer text-center">
            <span>Powered by</span>
            <a href="https://discordapp.com/" target="_blank"><img src="https://soulbot.glitch.me/assets/discord-wordmark-white.svg"></a>
        </div>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </body>
</html>