<%- include("header.ejs") %>
<div>
    <div class="jumbo text-center">
        <div id="bot-pic"></div>
        <div id="blurb">
            <h2><b>Soul</b></h2>
            <h5>Think. Feel. Soul.</h5>
        </div>
    </div>

    <div class="container main text-center">

        <div class="buttons">
            <a class="invite" href="https://discordapp.com/oauth2/authorize?client_id=584566571247337482&scope=bot&permissions=2146958839" target="_blank">Invite</a>
            <a class="discord" href="https://discord.gg/7JceW7S">Discord Server</a>
        </div>

        <div class="row">
            <div class="four columns value">
                <i class="fas fa-cogs value-img"></i>
                <h5>A fully featured web-panel interface with the bot.</h5>
            </div>

            <div class="four columns value">
                <i class="fas fa-users value-img"></i>
                <h5>Realtime multi-user/bot interaction.</h5>
            </div>
            
            <div class="four columns value">
                <i class="fas fa-shield-alt value-img"></i>
                <h5>Powerful passive and active moderation.</h5>
            </div>
        </div>

    </div>
</div>
<%- include("footer.ejs") %>
